{% load static %}
<svg class="floor" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 712.2 360"
style="enable-background:new 0 0 712.2 360;" xml:space="preserve">
    <style type="text/css">
        .floor .st0{opacity:0;fill: #008cff; transition: opacity 300ms; cursor: pointer;}
        .floor .st0.unavailable{fill: red; cursor: not-allowed;}
        .floor .st0:hover{opacity: 0.4;}
    </style>
    <metadata>
        <sfw  xmlns="&ns_sfw;">
            <slices></slices>
            <sliceSourceBounds  bottomLeftOrigin="true" height="360" width="712.2" x="327" y="204"></sliceSourceBounds>
        </sfw>
    </metadata>
    <image style="overflow:visible;" width="1187" height="600" xlink:href="{% static 'img/floors/D-2,3,4,5,6,7.png' %}"  transform="matrix(0.6 0 0 0.6 0 0)">
    </image>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="25.8,208.6 25.8,60.2 86,60.2 86,47.6 137.1,47.6 137.1,184.8 81.4,184.1 81.4,208.6 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="25.8,312.4 25.8,216.1 88.8,216.1 88.8,191.9 228,191.9 228,333.2 147,333.2 146.3,311.7 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="237.9,312.4 237.9,47.6 287.9,47.6 287.9,60.9 348.9,61.2 348.9,312.4 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="358.7,312.4 358.7,61.2 419.7,61.2 419.7,47.6 469.4,47.6 469.4,191.9 561.3,191.6 561.3,332.2 
        480.3,332.2 479.9,312.4 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="569.8,312.4 569.8,47.6 621.5,47.6 621.5,61.2 682.1,61.2 682.1,312.4 "/>
</svg>