{% load static %}
<svg class="floor" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 463.2 465.6"
style="enable-background:new 0 0 463.2 465.6;" xml:space="preserve">
    <style type="text/css">
        .floor .st0{opacity:0;fill: #008cff; transition: opacity 300ms; cursor: pointer;}
        .floor .st0.unavailable{fill: red; cursor: not-allowed;}
        .floor .st0:hover{opacity: 0.4;}
    </style>
    <metadata>
        <sfw  xmlns="&ns_sfw;">
            <slices></slices>
            <sliceSourceBounds  bottomLeftOrigin="true" height="465.6" width="463.2" x="451" y="151.4"></sliceSourceBounds>
        </sfw>
    </metadata>
    <image style="overflow:visible;" width="772" height="776" xlink:href="{% static 'img/floors/F,G,H-1.png' %}"  transform="matrix(0.6 0 0 0.6 0 0)">
    </image>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="34.6,362.4 35.2,55.3 159.5,55.3 159.5,386.9 107.4,386.9 107.4,361.7 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="170.4,249.7 170.4,32.5 294.6,32.5 294.6,55.3 430.1,55.3 428.4,188.1 295,188.7 294.6,249.7 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="268.1,386.9 268.1,259.9 305.5,259.9 305.5,201 430.1,201 430.1,364.4 359,363.4 359.3,386.9 "/>
</svg>
