{% load static %}
<svg class="floor" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 699 352.2"
style="enable-background:new 0 0 699 352.2;" xml:space="preserve">
    <style type="text/css">
        .floor .st0{opacity:0;fill: #008cff; transition: opacity 300ms; cursor: pointer;}
        .floor .st0.unavailable{fill: red; cursor: not-allowed;}
        .floor .st0:hover{opacity: 0.4;}
    </style>
    <metadata>
        <sfw  xmlns="&ns_sfw;">
            <slices></slices>
            <sliceSourceBounds  bottomLeftOrigin="true" height="352.2" width="699" x="333" y="207.8"></sliceSourceBounds>
        </sfw>
    </metadata>
    <image style="overflow:visible;" width="1165" height="587" xlink:href="{% static 'img/floors/D-8.png' %}"  transform="matrix(0.6 0 0 0.6 0 0)">
    </image>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="22.2,199.5 22.2,53.4 82.4,53.4 82.4,33.4 131.8,33.4 131.8,176.1 77,176.1 77,199.5 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="22.2,302.6 22.2,206.3 84.1,206.3 84.1,182.5 221.7,182.5 221.7,273 131.8,273 131.8,302.6 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="231.9,273.4 231.9,33.4 281.9,33.4 281.9,52.4 342.5,53.4 342.5,273.4 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="352,273.4 352,52.8 412,52.8 412,33.4 462.3,33.4 462.3,273.4 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="472.2,273.4 472.2,183.1 562.4,183.1 562.4,33.4 611.8,33.4 611.8,53.4 673.1,53.4 673.1,303 
        563.1,303 563.1,273.4 "/>
</svg>