{% load static %}
<svg class="floor" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 498 454.2"
style="enable-background:new 0 0 498 454.2;" xml:space="preserve">
    <style type="text/css">
        .floor .st0{opacity:0;fill: #008cff; transition: opacity 300ms; cursor: pointer;}
        .floor .st0.unavailable{fill: red; cursor: not-allowed;}
        .floor .st0:hover{opacity: 0.4;}
    </style>
    <metadata>
        <sfw  xmlns="&ns_sfw;">
            <slices></slices>
            <sliceSourceBounds  bottomLeftOrigin="true" height="454.2" width="498" x="434" y="156.8"></sliceSourceBounds>
        </sfw>
    </metadata>
    <image style="overflow:visible;" width="830" height="757" xlink:href="{% static 'img/floors/G-8.png' %}"  transform="matrix(0.6 0 0 0.6 0 0)">
    </image>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="31.1,394.5 31.1,211.3 168.7,211.3 168.7,396.2 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="31.1,201.8 31.1,54.7 316.7,55.1 316.7,269.2 179.6,269.2 179.9,202.1 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="287.5,419.3 287.5,280.8 329.7,280.8 329.3,54.7 465.9,54.7 465.9,370.3 329,370.3 329.3,419.3 "/>
</svg>
