{% load static %}
<svg class="floor" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 594.6 306"
style="enable-background:new 0 0 594.6 306;" xml:space="preserve">
    <style type="text/css">
        .floor .st0{opacity:0;fill: #008cff; transition: opacity 300ms; cursor: pointer;}
        .floor .st0.unavailable{fill: red; cursor: not-allowed;}
        .floor .st0:hover{opacity: 0.4;}
    </style>
    <metadata>
        <sfw  xmlns="&ns_sfw;">
            <slices></slices>
            <sliceSourceBounds  bottomLeftOrigin="true" height="306" width="594.6" x="386" y="231"></sliceSourceBounds>
        </sfw>
    </metadata>
    <image style="overflow:visible;" width="991" height="510" xlink:href="{% static 'img/floors/A,K-8.png' %}"  transform="matrix(0.6 0 0 0.6 0 0)">
    </image>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="22.2,163.1 22.2,40.6 74.5,40.6 74.5,19.6 112.8,19.6 112.8,164.4 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="22.2,266 22.2,170.5 121,169.3 121,125.1 193.3,125.1 193.3,242.3 112.8,242.5 112.8,266 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="201.9,234.1 201.4,19.6 239.2,19.6 239.2,41.1 292.1,40.8 292.1,234.1 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="300.5,234.1 300.2,40.3 352.8,40.3 352.8,19.6 391.4,19.6 391.4,234.1 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="399.3,242.5 399.3,124.3 471,124.3 471,170.5 522.6,170.3 522.6,266.3 479.2,266.3 479.2,242 "/>
    <polygon class="st0" data-room="1" data-rooms="2" data-totArea="68,1" data-totAreaRooms="65,9" data-url="apartment.html" points="479.5,164.7 479.5,19.6 518.3,19.6 518.3,40.3 570.4,40.3 570.4,266.3 528.2,266.3 528,164.1 "/>
</svg>