{% load static %}
<svg class="floor" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 661.2 348"
style="enable-background:new 0 0 661.2 348;" xml:space="preserve">
    <style type="text/css">
        .floor .st0{opacity:0;fill: #008cff; transition: opacity 300ms; cursor: pointer;}
        .floor .st0.unavailable{fill: red; cursor: not-allowed;}
        .floor .st0:hover{opacity: 0.4;}
    </style>
    <metadata>
        <sfw  xmlns="&ns_sfw;">
            <slices></slices>
            <sliceSourceBounds  bottomLeftOrigin="true" height="348" width="661.2" x="352" y="210"></sliceSourceBounds>
        </sfw>
    </metadata>
    <image style="overflow:visible;" width="1102" height="580" xlink:href="{% static 'img/floors/K-1.png' %}"  transform="matrix(0.6 0 0 0.6 0 0)">
    </image>
    {% if rooms %}
    <polygon {% if rooms.0.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.0.apartment_number}}" data-rooms="{{rooms.0.number_of_rooms}}" data-totArea="{{rooms.0.tot_area}}" data-totAreaRooms="{{rooms.0.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.0.apartment_number %}" points="21.9,188 21.9,50.1 80.4,50.1 80.4,28 124,28 124,188 "/>
    <polygon {% if rooms.1.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.1.apartment_number}}" data-rooms="{{rooms.1.number_of_rooms}}" data-totArea="{{rooms.1.tot_area}}" data-totAreaRooms="{{rooms.1.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.1.apartment_number %}" points="21.9,302.3 21.9,195.1 133.9,195.1 133.9,144.4 213.9,144.4 213.9,320.7 133.9,320.7 132.9,302 "/>
    <polygon {% if rooms.2.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.2.apartment_number}}" data-rooms="{{rooms.2.number_of_rooms}}" data-totArea="{{rooms.2.tot_area}}" data-totAreaRooms="{{rooms.2.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.2.apartment_number %}" points="223.1,302.3 222.4,28 266,28 266,51.1 324.5,50.8 324.5,302.3 "/>
    <polygon {% if rooms.3.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.3.apartment_number}}" data-rooms="{{rooms.3.number_of_rooms}}" data-totArea="{{rooms.3.tot_area}}" data-totAreaRooms="{{rooms.3.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.3.apartment_number %}" points="334.1,302.3 334.4,50.1 393.3,50.1 393.3,28 435.5,28 435.5,302.3 "/>
    <polygon {% if rooms.4.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.4.apartment_number}}" data-rooms="{{rooms.4.number_of_rooms}}" data-totArea="{{rooms.4.tot_area}}" data-totAreaRooms="{{rooms.4.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.4.apartment_number %}" points="445,320.7 445,143.7 525,143.7 525,210.1 586.7,210.1 586.7,302.3 525,302.3 525.4,320.7 "/>
    <polygon {% if rooms.5.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.5.apartment_number}}" data-rooms="{{rooms.5.number_of_rooms}}" data-totArea="{{rooms.5.tot_area}}" data-totAreaRooms="{{rooms.5.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.5.apartment_number %}" points="533.9,202.9 533.9,27.3 577.5,27.3 577.5,51.1 636.4,51.1 636.4,302 592.4,302 592.8,202.9 "/>
    {% endif %}
</svg>
