{% load static %}
<svg class="floor" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 537.6 433.2"
style="enable-background:new 0 0 537.6 433.2;" xml:space="preserve">
    <style type="text/css">
        .floor .st0{opacity:0;fill: #008cff; transition: opacity 300ms; cursor: pointer;}
        .floor .st0.unavailable{fill: red; cursor: not-allowed;}
        .floor .st0:hover{opacity: 0.4;}
    </style>
    <metadata>
        <sfw  xmlns="&ns_sfw;">
            <slices></slices>
            <sliceSourceBounds  bottomLeftOrigin="true" height="433.2" width="537.6" x="414" y="167.8"></sliceSourceBounds>
        </sfw>
    </metadata>
    <image style="overflow:visible;" width="896" height="722" xlink:href="{% static 'img/floors/B-3,4,5,6,7.png' %}"  transform="matrix(0.6 0 0 0.6 0 0)">
    </image>
    {% if rooms %}
    <path {% if rooms.0.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.0.apartment_number}}" data-rooms="{{rooms.0.number_of_rooms}}" data-totArea="{{rooms.0.tot_area}}" data-totAreaRooms="{{rooms.0.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.0.apartment_number %}" d="M94.4,228.9c0,0-22.1-45.6-21.1-82.7l15-11.2L43.3,76.4l13.6-47l182.5,50.4l19.4,24.2l-44.6,34.4l-18-22.8l-56.5,43.9l18,23.1L94.4,228.9z"/>
    <path {% if rooms.1.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.1.apartment_number}}" data-rooms="{{rooms.1.number_of_rooms}}" data-totArea="{{rooms.1.tot_area}}" data-totAreaRooms="{{rooms.1.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.1.apartment_number %}" d="M98.8,236.4l90.9-69.8l23.1,31.3l74.6-56.2l18.7,24.5l-59.2,44.3l27.6,34.4l-97,74.6C177.4,319.5,125,292.2,98.8,236.4z"/>
    <path {% if rooms.2.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.2.apartment_number}}" data-rooms="{{rooms.2.number_of_rooms}}" data-totArea="{{rooms.2.tot_area}}" data-totAreaRooms="{{rooms.2.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.2.apartment_number %}" d="M182.2,323.2L283,246.6l-25.9-34.4l56.2-41.5h64.3v65.4h-19.1l0.3,19.7l-29.6,0.3l-0.3,60.3l-65,49l-27.2-36.8L222,339.9C222,339.9,198.1,333.8,182.2,323.2z"/>
    <polygon {% if rooms.3.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.3.apartment_number}}" data-rooms="{{rooms.3.number_of_rooms}}" data-totArea="{{rooms.3.tot_area}}" data-totAreaRooms="{{rooms.3.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.3.apartment_number %}" points="268.8,371.4 336.6,319.5 336.6,264.1 358.8,264.1 358.8,298.4 395.8,298.9 395.8,264.1 416.2,264.1 416.2,385.9 281.4,385.9 "/>
    <polygon {% if rooms.4.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.4.apartment_number}}" data-rooms="{{rooms.4.number_of_rooms}}" data-totArea="{{rooms.4.tot_area}}" data-totAreaRooms="{{rooms.4.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.4.apartment_number %}" points="424.1,401 423.9,170.7 457.9,170.7 457.9,189.1 503.6,188.8 503.6,401 "/>
    {% endif %}
</svg>