{% load static %}
<svg class="floor" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 480.6 441.6"
style="enable-background:new 0 0 480.6 441.6;" xml:space="preserve">
    <style type="text/css">
        .floor .st0{opacity:0;fill: #008cff; transition: opacity 300ms; cursor: pointer;}
        .floor .st0.unavailable{fill: red; cursor: not-allowed;}
        .floor .st0:hover{opacity: 0.4;}
    </style>
    <metadata>
        <sfw  xmlns="&ns_sfw;">
            <slices></slices>
            <sliceSourceBounds  bottomLeftOrigin="true" height="441.6" width="480.6" x="443" y="163.4"></sliceSourceBounds>
        </sfw>
    </metadata>
    <image style="overflow:visible;" width="801" height="736" xlink:href="{% static 'img/floors/F,H-8.png' %}"  transform="matrix(0.6 0 0 0.6 0 0)">
    </image>
    {% if rooms %}
    <polygon {% if rooms.0.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.0.apartment_number}}" data-rooms="{{rooms.0.number_of_rooms}}" data-totArea="{{rooms.0.tot_area}}" data-totAreaRooms="{{rooms.0.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.0.apartment_number %}" points="32,377.6 32,204.7 162,204.7 162,401.8 106.9,401.8 106.9,377.9 "/>
    <polygon {% if rooms.1.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.1.apartment_number}}" data-rooms="{{rooms.1.number_of_rooms}}" data-totArea="{{rooms.1.tot_area}}" data-totAreaRooms="{{rooms.1.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.1.apartment_number %}" points="32,195.8 32,91.6 303.7,91.6 303.7,259.1 174,259.1 173.3,194.8 "/>
    <polygon {% if rooms.2.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-room="{{rooms.2.apartment_number}}" data-rooms="{{rooms.2.number_of_rooms}}" data-totArea="{{rooms.2.tot_area}}" data-totAreaRooms="{{rooms.2.tot_area_rooms}}" 
        data-url="{% url 'room' building_label=building_label floor=floor.floor_number room=rooms.2.apartment_number %}" points="276.1,401.8 276.1,270.4 313.9,270.4 315.6,91.6 444.9,91.6 444.9,378.6 370.4,377.9 370.7,401.8 "/>
    {% endif %}
</svg>
