{% load static %}
    <div class="content">
        <h1 class="text-white">
            {% if request.session.lang == 'uz' %}
            ENG QULAY UY
            {% else %}
            CАМЫЙ КОМФОРТНЫЙ ДОМ
            {% endif %}
        </h1>
        <p class="text-white">
            {% if request.session.lang == 'uz' %}
            Toshkentning rivojlanayotgan tumanlaridan biri sanalgan - Mirzo Ulug'bekda joylashganligi.
            {% else %}
            Удачное расположение в одном из развивающемся районе Ташкента - Мирзо Улугбек.
            {% endif %}
        </p>
        <a href="#planirovka" class="text-white">
            {% if request.session.lang == 'uz' %}
            BATAFSIL
            {% else %}
            УЗНАТЬ БОЛЬШЕ
            {% endif %}
        </a>
    </div>
    <div class="footer">
        <ul class="list-unstyled m-0">
            <li class="text-white">
                <img src="{% static 'img/icons/window.png' %}" alt="">
                <div class="subtitle ml-3">
                    {% if request.session.lang == 'uz' %}
                    PANORAMALI SHISHA
                    {% else %}
                    ПАНОРАМНОЕ ОСТЕКЛЕНИЕ
                    {% endif %}
                </div>
            </li>
            <li class="text-white">
                <img src="{% static 'img/icons/glass-door.png' %}" alt="">
                <div class="subtitle ml-3">
                    {% if request.session.lang == 'uz' %}
                    TEMIR KIRISH ESHIKLARI
                    {% else %}
                    СТАЛЬНЫЕ ВХОДНЫЕ ДВЕРИ
                    {% endif %}
                </div>
            </li>
            <li class="text-white">
                <img src="{% static 'img/icons/loggy.png' %}" alt="">
                <div class="subtitle ml-3">
                    {% if request.session.lang == 'uz' %}
                    NAFIS BEZAK ELEMENTLAR
                    {% else %}
                    ИЗЯЩНЫЕ ДЕКОРАТИВНЫЕ ЭЛЕМЕНТЫ
                    {% endif %}
                </div>
            </li>
            <li class="text-white">
                <img src="{% static 'img/icons/brick.png' %}" alt="">
                <div class="subtitle ml-3">
                    {% if request.session.lang == 'uz' %}
                    TABIIY TRAVERTINDAN IBORAT FASAD
                    {% else %}
                    ФАСАД ИЗ НАТУРАЛЬНОГО ТРАВЕРТИНА
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>