{% load static %}
    <div class="inner h-100 m-0">
        <div class="element">
            <div class="block" style="background: url({% static 'img/advs_1.png' %}) no-repeat; background-size: cover;">
                <div class="overlay">
                    <div class="inner">
                        <h4 class="header">
                            {% if request.session.lang == 'uz' %}
                            O'ZGACHA UY
                            {% else %}
                            РАЗНООБРАЗНЫЙ ДОМ
                            {% endif %}
                        </h4>
                        <p class="content">
                            {% if request.session.lang == 'uz' %}
                            Panorama oynalar
                            Panorama oynali uylar zamonaviy, nufuzli, chiroyli.
                            Bunday oynalar xonani maksimal tabiy yorug'lik bilan taminlaydi, xona hajmini vizual kengaytiradi va bino ko'rinishiga chiroy qo'shadi.
                            Ayniqsa klassik uslubdagi oq saroy kompleksida juda ajoyib ko'rinadi.
                            {% else %}
                            Панорамное остекление
                            Дома с панорамным остеклением, это модно, престижно, эстетично.
                            Такое остекление максимально наполняет помещение естественным светом, визуально увеличивает площадь, и выигрышно оформляет фасад здания.
                            Особенно эффектно смотрится в домах классического стиля ЖК OQ SAROY.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="element">
            <div class="block" style="background: url({% static 'img/advs_2.png' %}) no-repeat; background-size: cover;">
                <div class="overlay">
                    <div class="inner">
                        <h4 class="header">
                            {% if request.session.lang == 'uz' %}
                            RIVOJLANGAN INFRATUZULMA
                            {% else %}
                            РАЗВИТАЯ ИНФРАСТРУКТУРА
                            {% endif %}
                        </h4>
                        <p class="content">
                            {% if request.session.lang == 'uz' %}
                            Uy yaqinida transport chorrahasi - barcha yo'nalishlar bo'ylab 20 dan ortiq qatnovlar.
                            {% else %}
                            Транспортная развязка рядом с домом — более 20 маршрутов по всем направлениям.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="element">
            <div class="block" style="background: url({% static 'img/advs_3.png' %}) no-repeat; background-size: cover;">
                <div class="overlay">
                    <div class="inner">
                        <h4 class="header">
                            {% if request.session.lang == 'uz' %}
                            UY OLDI HUDUD
                            {% else %}
                            ПРИДОМОВАЯ ТЕРРИТОРИЯ
                            {% endif %}
                        </h4>
                        <p class="content">
                            {% if request.session.lang == 'uz' %}
                            Hovli maydonida bolalar o'yingohi, dam olish uchun o'rindiqlar, favvoralar, doimiy yoritiladigan
                            ko'chalar mavjud. Shuningdek turar joyning 1-qavatida do'konlar, restoran va tez oziq-ovqat nuqtalari mavjud.
                            {% else %}
                            Безопасный двор c эксклюзивной детской площадкой, беседками,
                            фонтанами, освещением в любое время суток, а также магазины, ресторан и фаст-фуд, расположенные на первых этажах комплекса.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="element">
            <div class="block" style="background: url({% static 'img/advs_4.png' %}) no-repeat; background-size: cover;">
                <div class="overlay">
                    <div class="inner">
                        <h4 class="header">
                            {% if request.session.lang == 'uz' %}
                            ISTIQBOLLI TUMAN
                            {% else %}
                            ПЕРСПЕКТИВНЫЙ РАЙОН
                            {% endif %}
                        </h4>
                        <p class="content">
                            {% if request.session.lang == 'uz' %}
                            Uy yaqinida 4 ta maktab, xususiy va davlat bog'chalari, shifoxonalar, Parkent bozori, SPA - salonlari,
                            go'zallik salonlari. 10 daqiqa piyoda yurib bolalar poliklinikasiga borish mumkin. Uyda shaharning barcha qismlariga yo'nalishlar bilan transport qatnovi mavjud.
                            {% else %}
                            Около дома четыре школы, частные и государственные детские сады, больница, Паркентский рынок,
                            SPA-салоны, салоны красоты. В десяти минутах пешком - детская поликлиника. У дома транспортная развязка с маршрутами во все концы города.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="element">
            <div class="block" style="background: url({% static 'img/advs_5.png' %}) no-repeat; background-size: cover;">
                <div class="overlay">
                    <div class="inner">
                        <h4 class="header">
                            {% if request.session.lang == 'uz' %}
                            ZAMONAVIY DIZAYNLI LOYIHALAR
                            {% else %}
                            СОВРЕМЕННЫЕ ДИЗАЙН-ПРОЕКТЫ
                            {% endif %}
                        </h4>
                        <p class="content">
                            {% if request.session.lang == 'uz' %}
                            Sizning oilangiz uchun noyob interyer va qurulish dizayni - o'zingizga qulayini tanlang: barcha
                            xonadonlar ikki konturlik isitish tizimi bilan jihozlangan
                            {% else %}
                            Уникальный дизайн интерьера и планировки для вашего типа семьи - выбирайте то, что удобно вам:
                            все квартиры оборудованы двухконтурнимы котеламы.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="element">
            <div class="block" style="background: url({% static 'img/advs_6.png' %}) no-repeat; background-size: cover;">
                <div class="overlay">
                    <div class="inner">
                        <h4 class="header">
                            {% if request.session.lang == 'uz' %}
                            O'Z HUDUDINGIZDA SHOPPING
                            {% else %}
                            ШОППИНГ НА СВОЕЙ ТЕРРИТОРИИ
                            {% endif %}
                        </h4>
                        <p class="content">
                            {% if request.session.lang == 'uz' %}
                            To'g'ri sizning uyingiz hududida magazin, hizmat ko'rsatish shaxobchalari va
                            ko'ngil ochar manzillar. Albatta qo'shnilaringiznikiga mehmonga restoranga kiring
                            {% else %}
                            Магазины, услуги и развлечения прямо на территории вашего дома. Обязательно
                            зайдите в гости к соседям — в ресторан
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
