{% load static %}
    <div class="content">
        <h1 class="text-white">
            {% if request.session.lang == 'uz' %}
            BLT LIFTLARI
            {% else %}
            ЛИФТЫ BLT
            {% endif %}
        </h1>
        <p class="text-white">
            {% if request.session.lang == 'uz' %}
            Italiya va Xitoyning qo'shma hamkorlikda ishlab chiqarishi va yig'ishi tufayli bizning liftlarimiz ishonchliligi, sifati va ishlashi bo'yicha xalqaro standartlarga javob beradi.
            {% else %}
            Благодаря совместному производству и сборке Италии и Китая, наши лифты будут отвечать мировым стандартам касательно надежности, качества и исполнения.
            {% endif %}
        </p>
        <a href="#planirovka" class="text-white">
            {% if request.session.lang == 'uz' %}
            BATAFSIL
            {% else %}
            УЗНАТЬ БОЛЬШЕ
            {% endif %}
        </a>
    </div>
    <div class="footer">
        <ul class="list-unstyled m-0">
            <li class="text-white">
                <img src="{% static 'img/icons/wheel.png' %}" alt="">
                <div class="subtitle ml-3">
                    {% if request.session.lang == 'uz' %}
                    BINO MAYDONINI TEJASH
                    {% else %}
                    ЭКОНОМИЯ ПРОСТРАНСТВА ЗДАНИЯ
                    {% endif %}
                </div>
            </li>
            <li class="text-white">
                <img src="{% static 'img/icons/door-handle.png' %}" alt="">
                <div class="subtitle ml-3">
                    {% if request.session.lang == 'uz' %}
                    EKOLOGIK TOZA
                    {% else %}
                    ЭКОЛОГИЧЕСКИ БЕЗОПАСНЫЙ
                    {% endif %}
                </div>
            </li>
            <li class="text-white">
                <img src="{% static 'img/icons/cart.png' %}" alt="">
                <div class="subtitle ml-3">
                    {% if request.session.lang == 'uz' %}
                    MAGAZIN VA KAFELAR
                    {% else %}
                    МАГАЗИНЫ И КАФЕ
                    {% endif %}
                </div>
            </li>
            <li class="text-white">
                <img src="{% static 'img/icons/home-alt.png' %}" alt="">
                <div class="subtitle ml-3">
                    {% if request.session.lang == 'uz' %}
                    LIFTNI BOSHQARISH TIZIMI
                    {% else %}
                    СИСТЕМА УПРАВЛЕНИЯ ЛИФТОМ
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
