{% extends 'base.html' %}

{% load static %}

{% block title %}Oqsaroy{% endblock %}

{% block content %}
    <div class="main main-apartment" style="background: #c0fffa;">
        <div class="planirovka-top-mobile">
			<img src="{% static 'img/icons/arrow-back.png' %}" class="back-arrow" alt="">
			<div class="block-logo">
				<img src="{% static 'img/icons/logo_1_1.png' %}" alt="Oq saroy">
				<img src="{% static 'img/icons/logo_1_2.png' %}" alt="Residence">
			</div>
			<button class="alt-map-btn" id="openMap">
			</button>
		</div>
        <div class="main-content-planirovka">
            <div class="main-content-inner">
                <div class="floor-label">
                    <p class="mb-0">{{building_label}} 
                        {% if request.session.lang == 'uz' %}
                        block
                        {% else %}
                        блок
                        {% endif %}
                    </p>
                    <p>{{floor}} - 
                        {% if request.session.lang == 'uz' %}
                        qavat
                        {% else %}
                        ой этаж
                        {% endif %}
                    </p>
                </div>
                <div class="text-center">
                    <img src="{{room.image.url}}" class="img-apartment-overview" id="imgApartment" alt="Image not found">
                </div>
            </div>
        </div>
        <div class="sidebar sidebar-planirovka sidebar-apartment">
            <div class="header">
                <div>
                    <img src="{% static 'img/icons/arrow-back.png' %}" class="back-arrow" id="goBack" alt="">
                </div>
                <div class="block-logo">
                    <img src="{% static 'img/icons/logo_1_1.png' %}" alt="Oq saroy">
                    <img src="{% static 'img/icons/logo_1_2.png' %}" alt="Residence">
                </div>
            </div>
            <div class="apartment-indicator">
                <div class="inner h-100">
                    <div class="apartment-specs">
                        <div>
                            <span class="indicator room">{{room.number_of_rooms}}</span>
                            <span class="subtitle">
                                {% if request.session.lang == 'uz' %}
                                Xonali xonadon
                                {% else %}
                                Комнатная квартира
                                {% endif %}
                            </span>
                        </div>
                        <div class="tot-area-block">
                            <span class="indicator tot-area text-center"><span>{{room.tot_area}}</span> 
                            {% if request.session.lang == 'uz' %}
                            m
                            {% else %}
                            м
                            {% endif %}
                            <sup>2</sup></span>
                            <span class="subtitle text-center">
                                {% if request.session.lang == 'uz' %}
                                Umumiy maydon
                                {% else %}
                                Общая площадь
                                {% endif %}
                            </span>
                        </div>
                        <div class="tot-area-room-block">
                            <span class="indicator tot-area-room text-center"><span>{{room.tot_area_rooms}}</span> 
                            {% if request.session.lang == 'uz' %}
                            m
                            {% else %}
                            м
                            {% endif %}
                            <sup>2</sup></span>
                            <span class="subtitle text-center">
                                {% if request.session.lang == 'uz' %}
                                Xonadon umumiy maydoni
                                {% else %}
                                Общая площадь комнаты
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="ctrl-btns mt-auto">
						<button class="active" id="simpleImg" data-imgUrl="{{room.image.url}}">
                            {% if request.session.lang == 'uz' %}
                            Chizma
                            {% else %}
                            Чертёж
                            {% endif %}
                        </button>
						{% if room.image_3d %}
						<button id="img3d" data-imgUrl="{{room.image_3d.url}}">
                            {% if request.session.lang == 'uz' %}
                            3D chizma
                            {% else %}
                            Чертёж 3D
                            {% endif %}
                        </button>
						{% endif %}
                    </div>
                </div>
            </div>
            <div class="map-alt">
                <div class="inner position-relative">
					<button class="close-map" id="closeMap">&times;</button>
					{% include 'partials/map-alt.html' %}
				</div>
            </div>
        </div>
    </div>
{% endblock %}