{% extends 'base.html' %}

{% load static %}

{% block title %}Oqsaroy{% endblock %}

{% block content %}
<div class="main main-building" style="background: #c0fffa;">
	<div class="planirovka-top-mobile">
		<img src="{% static 'img/icons/arrow-back.png' %}" class="back-arrow" alt="">
		<div class="block-logo">
			<img src="{% static 'img/icons/logo_1_1.png' %}" alt="Oq saroy">
			<img src="{% static 'img/icons/logo_1_2.png' %}" alt="Residence">
		</div>
		<button class="alt-map-btn" id="openMap">
		</button>
	</div>
	<div class="main-content-planirovka">
		<div class="main-content-inner">
			<div class="block-label">
				<img src="{% static 'img/buildings/letters/'|add:building.building_label|add:'.svg' %}" width="170px" alt="">
			</div>
			<div class="text-center">
				{% include building.template %}
			</div>
		</div>
	</div>
	<div class="sidebar sidebar-planirovka">
		<div class="header">
			<div>
				<img src="{% static 'img/icons/arrow-back.png' %}" class="back-arrow" alt="">
			</div>
			<div class="block-logo">
				<img src="{% static 'img/icons/logo_1_1.png' %}" alt="Oq saroy">
				<img src="{% static 'img/icons/logo_1_2.png' %}" alt="Residence">
			</div>
		</div>
		<div class="block-indicator">
			<div class="inner h-100">
				<div class="floor-indicator-block text-center" style="width: 95%;">
					<button class="ctrl" id="floorDown">-</button>
					<div class="indicator">
						<span class="b-floor-indicator" id="bFloorLvlIndicator" data-value="0">-</span>
						<span class="subtitle">Qavat</span>
					</div>
					<button class="ctrl" id="floorUp">+</button>
				</div>
				<div class="apartment-indicator-block text-center">
					<div class="indicator">
						<span class="aval-apartments-indicator mt-auto" id="apartmentsAvailable">-</span>
						<span class="subtitle">Xonadon sotuvda</span>
					</div>
				</div>
				<button class="disabled" id="exploreFloor">Qavatni ko'rmoq</button>
			</div>
		</div>
		<div class="map-alt">
			<div class="inner position-relative">
				<button class="close-map" id="closeMap">&times;</button>
				{% include 'partials/map-alt.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock %}