{% extends 'base.html' %}

{% load static %}

{% block title %}Oqsaroy{% endblock %}

{% block content %}
<div class="preloaderBg" id="preloader">
    <div class="wrapper">
        <div class="preloader"></div>
        <div class="preloader2"></div>
    </div>
</div>
<div class="main h-100">
    <nav class="top-nav">
        <button class="toggler">
            <img src="{% static 'img/icons/menu.png' %}" alt="">
        </button>
        <div class="text-center navbar-brand-block">
            <a class="navbar-brand ml-3" href="#home">
                <img src="{% static 'img/icons/logo_1_1.png' %}" alt="Oq saroy">
                <img src="{% static 'img/icons/logo_1_2.png' %}" alt="Residence">
            </a>
        </div>
        <div class="ml-auto block-contact">
            <span class="contact"><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;+998 99 999 99 99</span>
        </div>
    </nav>
    <div class="sidebar" id="sidebar">
        <div class="inner">
            <button class="close">
                &#10005;
            </button>
            <nav class="sidebar-nav" id="indexSidebar">
                <a href="#home" class="navbar-brand mb-4">
                    <img src="{% static 'img/icons/logo_1_1.png' %}" alt="Oq saroy">
                    <img src="{% static 'img/icons/logo_1_2.png' %}" alt="Residence">
                </a>
                <ul class="nav-list list-unstyled">
                    <li class="nav-item">
                        <div class="nav-item-indicator">
                            <div class="layer-1">
                                <div class="layer-0"></div>
                            </div>
                        </div>
                        <a class="nav-link active" href="#home">
                            {% if request.session.lang == 'uz' %}
                            Bosh menyu
                            {% else %}
                            Главная
                            {% endif %}
                        </a> 
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-indicator">
                            <div class="layer-1">
                                <div class="layer-0"></div>
                            </div>
                        </div>
                        <a class="nav-link" href="#comfort">
                            {% if request.session.lang == 'uz' %}
                            Qulaylik
                            {% else %}
                            Комфорт
                            {% endif %}
                        </a> 
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-indicator">
                            <div class="layer-1">
                                <div class="layer-0"></div>
                            </div>
                        </div>
                        <a class="nav-link" href="#planirovka">
                            {% if request.session.lang == 'uz' %}
                            Maket
                            {% else %}
                            Планировки
                            {% endif %}
                        </a> 
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-indicator">
                            <div class="layer-1">
                                <div class="layer-0"></div>
                            </div>
                        </div>
                        <a class="nav-link" href="#location">
                            {% if request.session.lang == 'uz' %}
                            Joylashuv
                            {% else %}
                            Расположение
                            {% endif %}
                        </a> 
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-indicator">
                            <div class="layer-1">
                                <div class="layer-0"></div>
                            </div>
                        </div>
                        <a class="nav-link" href="#advantages">
                            {% if request.session.lang == 'uz' %}
                            Afzalliklari
                            {% else %}
                            Преимущества
                            {% endif %}
                        </a> 
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-indicator">
                            <div class="layer-1">
                                <div class="layer-0"></div>
                            </div>
                        </div>
                        <a class="nav-link" href="#commerce">
                            {% if request.session.lang == 'uz' %}
                            Barcha oila uchun xonadon
                            {% else %}
                            Квартира для всей семьи
                            {% endif %}
                        </a> 
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-indicator">
                            <div class="layer-1">
                                <div class="layer-0"></div>
                            </div>
                        </div>
                        <a class="nav-link" href="#progress">
                            {% if request.session.lang == 'uz' %}
                            Qurulish bosqichlari
                            {% else %}
                            Этапы строительства
                            {% endif %}
                        </a> 
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-indicator">
                            <div class="layer-1">
                                <div class="layer-0"></div>
                            </div>
                        </div>
                        <a class="nav-link" href="#about">
                            {% if request.session.lang == 'uz' %}
                            Kompaniya haqida
                            {% else %}
                            О компании
                            {% endif %}
                        </a> 
                    </li>
                </ul>
            </nav>
            <div class="site-lang">
                <a href="{% url 'ru' %}" 
                {% if 'ru' in request.path %}
                class="active"
                {% endif %}>
                    <img src="{% static 'img/icons/flag-russian-round-250.png' %}" width="13px" height="13px" alt=""> Рус
                </a>
                <a href="{% url 'uz' %}"
                {% if 'uz' in request.path %}
                class="active"
                {% endif %}>
                    <img src="{% static 'img/icons/flag-uzb-round-250.png' %}" width="13px" height="13px" alt=""> O‘zb
                </a>
            </div>
            <div class="sidebar-footer">
                <dl>
                    <dt>
                        {% if request.session.lang == 'uz' %}
                        Biz bilan bog'lanish
                        {% else %}
                        Колл-центр
                        {% endif %}
                    </dt>
                    <dd>+998 99 999 99 99</dd>
                    <dt>
                        {% if request.session.lang == 'uz' %}
                        Manzil
                        {% else %}
                        Адрес
                        {% endif %}
                    </dt>
                    <dd>
                        {% if request.session.lang == 'uz' %}
                        Toshkent shahri, Mirzo-Ulug'bek tumani, Parkent ko'casi
                        {% else %}
                        Улица Паркент, Мирзо-Улугбекский район, город Ташкент
                        {% endif %}
                    </dd>
                </dl>
                <ul class="social-media">
                    <a href="http://www.instagram.com/urbanstroy.uz" target="_blank">
                        <img src="{% static 'img/icons/Instagram-Icon.png' %}" alt="">
                        <div class="social-name">
                            <div class="position-relative">
                                <span>@urbanstroy.uz</span>
                            </div>
                        </div>
                    </a>
                    <a href="http://www.facebook.com/urbanstroy.uz" target="_blank">
                        <img src="{% static 'img/icons/facebook-icon-alt.png' %}" alt="">
                        <div class="social-name">
                            <div class="position-relative">
                                <span>@urbanstroy.uz</span>
                            </div>
                        </div>
                    </a>
                    <a href="http://t.me/urban_stroyuz" target="_blank">
                        <img src="{% static 'img/icons/Telegram-Icon.png' %}" alt="">
                        <div class="social-name">
                            <div class="position-relative">
                                <span>@urban_stroyuz</span>
                            </div>
                        </div>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <section class="section section-home" id='home'>
                <div class="header text-center">
                    <div class="logo-block">
                        <img src="{% static 'img/icons/logo_2_1.png' %}" alt="">
                        <img src="{% static 'img/icons/logo_2_2.png' %}" alt="">
                    </div>
                    <p class="content text-white">
                        {% if request.session.lang == 'uz' %}
                        O'zgacha va zamonaviy uy
                        {% else %}
                        особенный и современный дом
                        {% endif %}
                    </p>
                    <a href="#planirovka"><img class="m-1" src="{% static 'img/key.png' %}" alt="">
                        {% if request.session.lang == 'uz' %}
                        Xonadon tanlash
                        {% else %}
                        подобрать квартиру
                        {% endif %}
                    </a>
                </div>
            </section>
            <section class="section comfort comfort-1" id="comfort">
                <div class="content">
                    <h1 class="text-white">
                        {% if request.session.lang == 'uz' %}
                        ENG DAVOMLI BOLALIK
                        {% else %}
                        САМОЕ ДЛИННОЕ ДЕТСТВО
                        {% endif %}
                    </h1>
                    <p class="text-white">
                        {% if request.session.lang == 'uz' %}
                        O'yin kulgu va sport uchun 90 metrlik xavfsiz hudud
                        {% else %}
                        90 метров безопасного пространства для игр, веселья и спорта
                        {% endif %}
                    </p>
                    <a href="#" class="text-white">
                        {% if request.session.lang == 'uz' %}
                        BATAFSIL
                        {% else %}
                        УЗНАТЬ БОЛЬШЕ
                        {% endif %}
                    </a>
                </div>
                <div class="footer">
                    <ul class="list-unstyled m-0">
                        <li class="text-white">
                            <img src="{% static 'img/icons/home.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                O'YINGOHLAR
                                {% else %}
                                ИГРОВЫЕ КОМПЛЕКСЫ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/camera.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                XAVFSIZ QOPLAMA
                                {% else %}
                                БЕЗОПАСНОЕ ПОКРЫТИЕ 
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/soccer-field.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                SPORT MAYDONCHALARI
                                {% else %}
                                CПОРТИВНЫЕ ПЛОЩАДКИ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/factoids.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                SPORT MAYDONCHALARI
                                {% else %}
                                CПОРТИВНЫЕ ПЛОЩАДКИ
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section comfort comfort-2">
                <div class="content">
                    <h1 class="text-white">
                        {% if request.session.lang == 'uz' %}
                        ENG MUKAMMAL O'YLANGAN HOVLI
                        {% else %}
                        САМЫЙ ПРОДУМАННЫЙ ДВОР
                        {% endif %}
                    </h1>
                    <p class="text-white">
                        {% if request.session.lang == 'uz' %}
                        Sayr uchun 100 metr yoritilgan xiyobon
                        {% else %}
                        100 метров освещенной аллеи для неспешных прогулок
                        {% endif %}
                    </p>
                    <a href="#" class="text-white">
                        {% if request.session.lang == 'uz' %}
                        BATAFSIL
                        {% else %}
                        УЗНАТЬ БОЛЬШЕ
                        {% endif %}
                    </a>
                </div>
                <div class="footer">
                    <ul class="list-unstyled m-0">
                        <li class="text-white">
                            <img src="{% static 'img/icons/road-barrier.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                YOPIQ HUDUD
                                {% else %}
                                ЗАКРЫТАЯ ТЕРРИТОРИЯ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/wifi.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                BEPUL INTERNET
                                {% else %}
                                БЕСПЛАТНЫЙ ИНТЕРНЕТ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/besedka.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                DAM OLISH O'RINDIQLARI
                                {% else %}
                                БЕСЕДКИ ДЛЯ ОТДЫХА
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/camera-alt.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                QO'RIQLANADIGAN AVTOTURARGOHLAR
                                {% else %}
                                ОХРАНЯЕМАЯ ПАРКОВКА
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/fitness.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                YOPIQ TRENAJORLAR
                                {% else %}
                                КРЫТЫЕ ТРЕНАЖЕРЫ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/barbeque.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                BARBEKYU HUDUDLARI
                                {% else %}
                                БАРБЕКЮ-ЗОНЫ
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section comfort comfort-3">
                <div class="content">
                    <h1 class="text-white">
                        {% if request.session.lang == 'uz' %}
                        MAGAZINGA KETTIKMI?
                        {% else %}
                        ПОЕХАЛИ В МАГАЗИН?
                        {% endif %}
                    </h1>
                    <p class="text-white">
                        {% if request.session.lang == 'uz' %}
                        ENG DAVOMLI BOLALIK
                        {% else %}
                        Har bir bo'limda eng past qavatdagi magazinlarga olib boruvchi 3 ta shovqinsiz liftlar
                        {% endif %}
                    </p>
                    <a href="#" class="text-white">
                        {% if request.session.lang == 'uz' %}
                        BATAFSIL
                        {% else %}
                        УЗНАТЬ БОЛЬШЕ
                        {% endif %}
                    </a>
                </div>
                <div class="footer">
                    <ul class="list-unstyled m-0">
                        <li class="text-white">
                            <img src="{% static 'img/icons/wheel.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                G'ILDIRAKLI PANDUSLAR
                                {% else %}
                                КОЛЯСОЧНЫЕ ПАНДУСЫ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/door-handle.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                ORT ESHIKLI PODYEZDLAR
                                {% else %}
                                СКВОЗНЫЕ ПОДЪЕЗДЫ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/cart.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                MAGAZIN VA KAFELAR
                                {% else %}
                                МАГАЗИНЫ И КАФЕ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/home-alt.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                SAVDO KO'RGAZMALARI
                                {% else %}
                                ТОРГОВАЯ ГАЛЕРЕЯ
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section comfort comfort-4">
                <div class="content">
                    <h1 class="text-white">
                        {% if request.session.lang == 'uz' %}
                        ENG QULAY UY
                        {% else %}
                        CАМЫЙ КОМФОРТНЫЙ ДОМ
                        {% endif %}
                    </h1>
                    <p class="text-white">
                        {% if request.session.lang == 'uz' %}
                        Oldindan tugallangan otdelka va ulangan elektr simlari sizga faqat!
                        {% else %}
                        Квартиры с предчистовой отделкой и разведенной электропроводкой - вам остается только выбрать дизайн и перевезти мебель
                        {% endif %}
                    </p>
                    <a href="#" class="text-white">
                        {% if request.session.lang == 'uz' %}
                        BATAFSIL
                        {% else %}
                        УЗНАТЬ БОЛЬШЕ
                        {% endif %}
                    </a>
                </div>
                <div class="footer">
                    <ul class="list-unstyled m-0">
                        <li class="text-white">
                            <img src="{% static 'img/icons/window.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                PANORAMALI SHISHA QOPLAMA
                                {% else %}
                                ПАНОРАМНОЕ ОСТЕКЛЕНИЕ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/glass-door.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                PO'LAT KIRISH ESHIKLARI
                                {% else %}
                                СТАЛЬНЫЕ ВХОДНЫЕ ДВЕРИ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/loggy.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                OYNALI BILAN QOPLANGAN TURAR JOYLAR
                                {% else %}
                                ЗАСТЕКЛЕННЫЕ ЛОДЖИИ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/brick.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                MONOLIT - G'ISHT
                                {% else %}
                                МОНОЛИТ- КИРПИЧ
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section section-planirovka q" id="planirovka">
                {% include 'partials/planirovka_main.html' %}
            </section>
            <section class="section section-location" id="location">
                <div class="row m-0 h-100">
                    <div class="map-sidebar">
                        <div class="inner h-100">
                            <h4>
                                {% if request.session.lang == 'uz' %}
                                SHAHARDAGI ENG QULAY JOYLASHUV
                                {% else %}
                                САМАЯ УДОБНАЯ РАЗВЯЗКА В ГОРОДЕ
                                {% endif %}
                            </h4>
                            <p style="color:rgb(79, 79, 79);">
                                {% if request.session.lang == 'uz' %}
                                Barchasi uydan atigi 15 minutlik masofa
                                {% else %}
                                Всё для жизни в 15 минутах от дома
                                {% endif %}
                            </p>
                            <div>
                                <ul class="filter-controls list-unstyled" id="filterControls"
                                data-oqsaroyPmark={% static '/img/oqsaroy_placemark.png' %} data-urbanPmark={% static '/img/urban_pmark.png' %}
                                data-shopPmark={% static '/img/shop_pmark.png' %} data-restaurantPmark={% static '/img/restaurant_pmark.png' %}
                                data-busstopPmark={% static '/img/busstop_pmark.png' %} data-hospitalPmark={% static '/img/hospital_pmark.png' %}>
                                    <li class="filter-item filter-all">
                                        <span>
                                            {% if request.session.lang == 'uz' %}
                                            Barcha obyektlar
                                            {% else %}
                                            Все объекты
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="filter-item filter-shops">
                                        <span>
                                            {% if request.session.lang == 'uz' %}
                                            Magazin va supermarketlar
                                            {% else %}
                                            Магазины и супермаркеты
                                            {% endif %} 
                                        </span>
                                    </li>
                                    <li class="filter-item filter-restaurants">
                                        <span>
                                            {% if request.session.lang == 'uz' %}
                                            Restoran va kafelar
                                            {% else %}
                                            Рестораны и кафе
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="filter-item filter-hospitals">
                                        <span>
                                            {% if request.session.lang == 'uz' %}
                                            Shifoxona va poliklinikalar
                                            {% else %}
                                            Больница и поликлиника
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="filter-item filter-busstops">
                                        <span>
                                            {% if request.session.lang == 'uz' %}
                                            Bekatlar
                                            {% else %}
                                            Остановки
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="footer">
                                {% if request.session.lang == 'uz' %}
                                PIYODA
                                {% else %}
                                ПЕШКОМ
                                {% endif %}
                            </h4>
                            <ul class="location-distances list-unstyled">
                                <li class="item">
                                    <div class="time">
                                        {% if request.session.lang == 'uz' %}
                                        10 min
                                        {% else %}
                                        10 мин
                                        {% endif %}
                                    </div>
                                    <div class="destination">
                                        {% if request.session.lang == 'uz' %}
                                        Bolalar poliklinikasi
                                        {% else %}
                                        Детская поликлиника
                                        {% endif %}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="time">
                                        {% if request.session.lang == 'uz' %}
                                        10 min
                                        {% else %}
                                        10 мин
                                        {% endif %}
                                    </div>
                                    <div class="destination">
                                        {% if request.session.lang == 'uz' %}
                                        3 ta xiyobon
                                        {% else %}
                                        Три парка
                                        {% endif %}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="time">
                                        {% if request.session.lang == 'uz' %}
                                        10 min
                                        {% else %}
                                        10 мин
                                        {% endif %}
                                    </div>
                                    <div class="destination">
                                        {% if request.session.lang == 'uz' %}
                                        Delfinarium va muz saroyi
                                        {% else %}
                                        Дельфинарий и ледовый дворец
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="map" style="height: 100%; width: 75%;"></div>
                </div>
            </section>
            <section class="section section-advantages" id="advantages">
                <div class="inner h-100 m-0">
                    <div class="element">
                        <div class="block" style="background: url({% static 'img/advs_1.png' %}) no-repeat; background-size: cover;">
                            <div class="overlay">
                                <div class="inner">
                                    <h4 class="header">
                                        {% if request.session.lang == 'uz' %}
                                        O'ZGACHA UY
                                        {% else %}
                                        РАЗНООБРАЗНЫЙ ДОМ
                                        {% endif %}
                                    </h4>
                                    <p class="content">
                                        {% if request.session.lang == 'uz' %}
                                        Panorama oynalar
                                        Panorama oynali uylar zamonaviy, obro'li, chiroyli.
                                        Bunday oynalar xonani maksimal tabiy yorug'lik bilan taminlaydi, xona hajmini vizual kengaytiradi va bino ko'rinishiga chiroy qo'shadi.
                                        Ayniqsa klassik uslubdagi oq saroy kompleksida juda ajoyib ko'rinadi.
                                        {% else %}
                                        Панорамное остекление 
                                        Дома с панорамным остеклением, это модно, престижно, эстетично.
                                        Такое остекление максимально наполняет помещение естественным светом, визуально увеличивает площадь, и выигрышно оформляет фасад здания.
                                        Особенно эффектно смотрится в домах классического стиля ЖК OQ SAROY.
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element">
                        <div class="block" style="background: url({% static 'img/advs_2.png' %}) no-repeat; background-size: cover;">
                            <div class="overlay">
                                <div class="inner">
                                    <h4 class="header">
                                        {% if request.session.lang == 'uz' %}
                                        RIVOJLANGAN INFRATUZULMA
                                        {% else %}
                                        РАЗВИТАЯ ИНФРАСТРУКТУРА
                                        {% endif %}
                                    </h4>
                                    <p class="content">
                                        {% if request.session.lang == 'uz' %}
                                        Uy yaqinida transport chorrahasi - 20 dan ortiq yo'nalishga marshrut
                                        {% else %}
                                        Транспортная развязка рядом с домом — более 20 маршрутов по всем направлениям.
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element">
                        <div class="block" style="background: url({% static 'img/advs_3.png' %}) no-repeat; background-size: cover;">
                            <div class="overlay">
                                <div class="inner">
                                    <h4 class="header">
                                        {% if request.session.lang == 'uz' %}
                                        UY OLDI HUDUD
                                        {% else %}
                                        ПРИДОМОВАЯ ТЕРРИТОРИЯ
                                        {% endif %}
                                    </h4>
                                    <p class="content">
                                        {% if request.session.lang == 'uz' %}
                                        3000 m<sup>2</sup> hovli maydonida bolalar o'yingohi, dam olish uchun o'rindiqlar, favvoralar, doimiy yoritiladigan 
                                        ko'chalar mavjud. Shuningdek turar joyning 1-qavatida magazinlar, restoran va fastfudlar mavjud
                                        {% else %}
                                        Безопасный двор площадью 3000 м<sup>2</sup> c эксклюзивной детской площадкой, беседками, 
                                        фонтанами, освещением в любое время суток, а также магазины, ресторан и фаст-фуд, расположенные на первых этажах комплекса.
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element">
                        <div class="block" style="background: url({% static 'img/advs_4.png' %}) no-repeat; background-size: cover;">
                            <div class="overlay">
                                <div class="inner">
                                    <h4 class="header">
                                        {% if request.session.lang == 'uz' %}
                                        ISTIQBOLLI TUMAN
                                        {% else %}
                                        ПЕРСПЕКТИВНЫЙ РАЙОН
                                        {% endif %}
                                    </h4>
                                    <p class="content">
                                        {% if request.session.lang == 'uz' %}
                                        Uy yaqinida 4 ta maktab, xususiy va davlat bog'chalari, shifoxonalar, Parkent bozori, SPA - salonlari, 
                                        go'zallik salonlari. 10 daqiqa piyoda yurib bolalar poliklinikasiga borish mumkin. Uy yaqinida shaharning 
                                        har burchagiga marshrutlar mavjud.
                                        {% else %}
                                        Около дома четыре школы, частные и государственные детские сады, больница, Паркентский рынок, 
                                        SPA-салоны, салоны красоты. В десяти минутах пешком - детская поликлиника. У дома транспортная развязка с маршрутами во все концы города.    
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element">
                        <div class="block" style="background: url({% static 'img/advs_5.png' %}) no-repeat; background-size: cover;">
                            <div class="overlay">
                                <div class="inner">
                                    <h4 class="header">
                                        {% if request.session.lang == 'uz' %}
                                        Zamonaviy dizaynli proyektlar
                                        {% else %}
                                        СОВРЕМЕННЫЕ ДИЗАЙН-ПРОЕКТЫ
                                        {% endif %}
                                    </h4>
                                    <p class="content">
                                        {% if request.session.lang == 'uz' %}
                                        Sizning oilangiz uchun noyob interyer va qurulish dizayni - o'zingizga qulayini tanlang: barcha 
                                        xonadonlar ikki konturlik isitish tizimi bilan jihozlangan
                                        {% else %}
                                        Уникальный дизайн интерьера и планировки для вашего типа семьи - выбирайте то, что удобно вам: 
                                        все квартиры оборудованы двухконтурнимы котеламы.                                         
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element">
                        <div class="block" style="background: url({% static 'img/advs_6.png' %}) no-repeat; background-size: cover;">
                            <div class="overlay">
                                <div class="inner">
                                    <h4 class="header">
                                        {% if request.session.lang == 'uz' %}
                                        O'Z HUDUDINGIZDA SHOPPING
                                        {% else %}
                                        ШОППИНГ НА СВОЕЙ ТЕРРИТОРИИ
                                        {% endif %}
                                    </h4>
                                    <p class="content">
                                        {% if request.session.lang == 'uz' %}
                                        To'g'ri sizning uyingiz hududida magazin, hizmat ko'rsatish shaxobchalari va 
                                        ko'ngil ochar manzillar. Albatta qo'shnilaringiznikiga mehmonga restoranga kiring
                                        {% else %}
                                        Магазины, услуги и развлечения прямо на территории вашего дома. Обязательно 
                                        зайдите в гости к соседям — в ресторан
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-commerce" style="height: 100vh;" id="commerce">
                <div class="content">
                    <h1 class="text-white">
                        {% if request.session.lang == 'uz' %}
                        BARCHA OILA UCHUN XONADON
                        {% else %}
                        КВАРТИРА ДЛЯ ВСЕЙ СЕМЬИ
                        {% endif %}
                    </h1>
                    <a href="#" class="text-white mt-1">
                        {% if request.session.lang == 'uz' %}
                        BATAFSIL
                        {% else %}
                        УЗНАТЬ БОЛЬШЕ
                        {% endif %}
                    </a>
                </div>
                <div class="footer">
                    <ul class="list-unstyled m-0">
                        <li class="text-white">
                            <img src="{% static 'img/icons/icon.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                57 DAN 263 GACHA BO'LGAN MAYDONLAR
                                {% else %}
                                ПЛОЩАДЫ ОТ 57 ДО 263
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/family.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                HAR QANDAY OILA UCHUN
                                {% else %}
                                ПОДХОДЯТ ДЛЯ ЛЮБЫХ СЕМЕЙ
                                {% endif %}
                            </div>
                        </li>
                        <li class="text-white">
                            <img src="{% static 'img/icons/doors.png' %}" alt="">
                            <div class="subtitle ml-3">
                                {% if request.session.lang == 'uz' %}
                                ZAMONAVIY PODYEZD
                                {% else %}
                                СОВРЕМЕННЫЙ ПОДЪЕЗД
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section section-progress" id="progress">
                <div class="content">
                    <h1 class="text-white">
                        {% if request.session.lang == 'uz' %}
                        QURILISH ETAPLARI
                        {% else %}
                        ЭТАПЫ СТРОИТЕЛЬСТВА
                        {% endif %}
                    </h1>
                    <a href="#" class="text-white mt-1">
                        {% if request.session.lang == 'uz' %}
                        BATAFSIL
                        {% else %}
                        УЗНАТЬ БОЛЬШЕ
                        {% endif %}
                    </a>
                </div>
            </section>
            <section class="section section-about" id="about">
                <div class="inner">
                    <div class="block-logo">
                        <img src="{% static 'img/icons/urban_logo.png' %}" alt="Urban Stroy">
                    </div>
                    <h2>
                        {% if request.session.lang == 'uz' %}
                        URBANSTROY KOMPANIYASI HAQIDA
                        {% else %}
                        О КОМПАНИИ URBAN STROY
                        {% endif %}
                    </h2>
                    <div class="content">
                        <p>
                            {% if request.session.lang == 'uz' %}
                            Urbanstroy - turar joy qurulishi sohasidagi katta tajribaga ega bo'lgan, 
                            jadal rivojlanayotgan qurulish kompaniyasidir.
                            {% else %}
                            Urbanstroy - является динамично развивающейся строительной компанией с большим 
                            опытом работы в сфере жилищного строительства.
                            {% endif %}
                        </p>
                        <p>
                            {% if request.session.lang == 'uz' %}
                            Kompaniya keng qamrovli turar joy qurulishlarini olib boradi: premium va biznes-klassdan 
                            tortib, qulay uylargacha.
                            {% else %}
                            Компания реализует широкий спектр проектов жилищного строительства различных типов и классов: 
                            от эксклюзивных объектов премиум и бизнес-класса до комфортного жилья.
                            {% endif %}
                        </p>
                    </div>
                    <div class="statistics">
                        <div class="row m-0">
                            <div class="col-md-3 col-sm-6 element">
                                <div class="text-center">
                                    <p class="stat">
                                        {% if request.session.lang == 'uz' %}
                                        +11 000 m<sup>2</sup>
                                        {% else %}
                                        +11 000 м<sup>2</sup>
                                        {% endif %}
                                    </p>
                                    <p class="subtitle">
                                        {% if request.session.lang == 'uz' %}
                                        Foydalanishga topshirilgan
                                        {% else %}
                                        Введено в эксплуатацию
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 element">
                                <div class="text-center">
                                    <p class="stat">300+</p>
                                    <p class="subtitle">
                                        {% if request.session.lang == 'uz' %}
                                        Baxtli oilalar
                                        {% else %}
                                        Счастливые Семьи
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 element">
                                <div class="text-center">
                                    <p class="stat">2</p>
                                    <p class="subtitle">
                                        {% if request.session.lang == 'uz' %}
                                        Turar joy
                                        {% else %}
                                        Жилых Комплекса
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 element">
                                <div class="text-center">
                                    <p class="stat">2</p>
                                    <p class="subtitle">
                                        {% if request.session.lang == 'uz' %}
                                        Avto turargohlar
                                        {% else %}
                                        Парковки
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="https://urbanstroy.uz" class="link" target="blank">urbanstroy.uz</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=9548b8a6-f9ad-413d-b067-ecaf8410d587&lang=ru_RU&region=UZB" 
        type="text/javascript">
</script>
<script src="{% static 'js/map.js' %}"></script>
<script>
    $(document).ready(function () {
        var divs = $('.section');
        var dir = 'up'; // wheel scroll direction
        var div = 0; // current div
        $(document.body).on('DOMMouseScroll mousewheel', function (e) {
            if ($(window).width() > 1100){
                if (e.originalEvent.detail > 0 || e.originalEvent.wheelDelta < 0) {
                    dir = 'down';
                } else {
                    dir = 'up';
                }
                // find currently visible div :
                div = -1;
                divs.each(function(i){
                    if (div<0 && ($(this).offset().top >= $(window).scrollTop())) {
                        div = i;
                    }
                });
                if (dir == 'up' && div > 0) {
                    div--;
                }
                if (dir == 'down' && div < divs.length) {
                    div++;
                }
                //console.log(div, dir, divs.length);
                $('html,body').stop().animate({
                    scrollTop: divs.eq(div).offset().top
                }, 500);
                return false;
            }
        });
        $(window).resize(function () {
            $('html,body').scrollTop(divs.eq(div).offset().top);
        });
    });
</script>
{% endblock %}