{% extends 'base.html' %}

{% load static %}

{% load include_by_ajax_tags %}

{% block title %}Oqsaroy{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/fullpage.min.css' %}">
{% endblock %}

{% block content %}
<div class="preloaderBg" id="preloader">
    <div class="wrapper">
        <div class="preloader"></div>
        <div class="preloader2"></div>
    </div>
</div>
<div class="main h-100">
    <nav class="top-nav">
        <button class="toggler">
            <img src="{% static 'img/icons/menu.png' %}" alt="">
        </button>
        <div class="text-center navbar-brand-block">
            <a class="navbar-brand ml-3" href="#home">
                <img src="{% static 'img/icons/logo_1_1.png' %}" alt="Oq saroy">
                <img src="{% static 'img/icons/logo_1_2.png' %}" alt="Residence">
            </a>
        </div>
        <div class="ml-auto block-contact">
            <a href="tel: +998977771166"><span class="contact">+998 97 777 11 66</span></a>
        </div>
    </nav>
    {% include 'partials/index_secondary/sidebar.html' %}
    <div class="main-content">
        <div class="main-content-inner" id="fullpage">
            <section class="section section-home" id='home'>
                <div class="header text-center">
                    <div class="logo-block">
                        <img src="{% static 'img/icons/logo_2_1.png' %}" alt="">
                        <img src="{% static 'img/icons/logo_2_2.png' %}" alt="">
                    </div>
                    <p class="content text-white">
                        {% if request.session.lang == 'uz' %}
                        O'zgacha va zamonaviy uy
                        {% else %}
                        особенный и современный дом
                        {% endif %}
                    </p>
                    <a href="#planirovka"><img class="m-1" src="{% static 'img/key.png' %}" alt="">
                        {% if request.session.lang == 'uz' %}
                        Xonadon tanlash
                        {% else %}
                        подобрать квартиру
                        {% endif %}
                    </a>
                </div>
            </section>
            <section class="section comfort comfort-1" id="comfort_1">
            </section>
            <section class="section comfort comfort-2" id="comfort_2">
            </section>
            <section class="section comfort comfort-3" id="comfort_3">
            </section>
            <section class="section comfort comfort-4" id="comfort_4">
            </section>
            <section class="section section-planirovka position-relative" id="planirovka">
                <div class="block-alert position-absolute" style="display:none; background: red; color:white; border-radius: 20xp; padding:0.5em; z-index:10; ">
                    Все квартиры проданы
                </div>
                {% include 'partials/planirovka_main.html' %}
            </section>
            {% include 'partials/index_secondary/section-location.html' %}
            <section class="section section-advantages" id="advantages">
            </section>
            <section class="section section-commerce" id="commerce">
            </section>
            <section class="section section-progress" id="progress">
            </section>
            <section class="section section-about" id="about">
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=9548b8a6-f9ad-413d-b067-ecaf8410d587&lang=ru_RU&region=UZB"
        type="text/javascript">
</script>
<script src="{% static 'js/map.js' %}"></script>
<!-- <script src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script> -->
<script src="{% static 'js/fullpage.min.js' %}"></script>
<script>
    $(document).ready(function () {
        // Initialize smooth scroll
        /*var scroll = new SmoothScroll('a[href*="#"]', {
            speed: 500
        });*/
        
    
        /* var divs = $('.section');
        var dir = 'up'; // wheel scroll direction
        var div = 0; // current div
        $(document.body).on('DOMMouseScroll mousewheel', function (e) {
            if ($(window).width() > 1100){
                if (e.originalEvent.detail > 0 || e.originalEvent.wheelDelta < 0) {
                    dir = 'down';
                } else {
                    dir = 'up';
                }
                // find currently visible div :
                div = -1;
                divs.each(function(i){
                    if (div<0 && ($(this).offset().top >= $(window).scrollTop())) {
                        div = i;
                    }
                });
                if (dir == 'up' && div > 0) {
                    div--;
                }
                if (dir == 'down' && div < divs.length) {
                    div++;
                }
                //console.log(div, dir, divs.length);
                $('html,body').stop().animate({
                    scrollTop: divs.eq(div).offset().top
                }, 500);
                return false;
            }
        });
        $(window).resize(function () {
            if ($(window).width() > 1100){
                $('html,body').scrollTop(divs.eq(div).offset().top);
            }
        }); */
    });
</script>
{% endblock %}