{% load static %}
<svg class="building" version="1.1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1320 1080"
style="enable-background:new 0 0 1320 1080;" xml:space="preserve">
	<style type="text/css">
		.building .st0{opacity:0; fill:#1F71FF;}
        .building .st0:hover{opacity:0.4}
        .building .st0.active{opacity: 0.4;}
        .building .unavailable{fill: red !important;}
	</style>
	<metadata>
		<sfw  xmlns="&ns_sfw;">
			<slices></slices>
			<sliceSourceBounds  bottomLeftOrigin="true" height="924" width="1022" x="149" y="0"></sliceSourceBounds>
		</sfw>
	</metadata>
	<image style="overflow:visible;enable-background:new    ;" width="1022" height="924" xlink:href="{% static 'img/buildings/building_kind_2.png' %}"  transform="matrix(1 0 0 1 149 156)">
	</image>
	{% if floors %}
	{% if floors.0 %}
	<polygon {% if floors.0.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-floor="{{floors.0.floor_number}}" data-avalApartments="{{aval_apartments.0}}" 
	data-url="{% url 'floor' building_label=building.building_label floor=floors.0.floor_number %}" points="224.4,925 1163.5,924.5 1161.4,1025 224.4,1025 	"/>
	{% endif %}
	{% if floors.1 %}
	<polygon {% if floors.1.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-floor="{{floors.1.floor_number}}" data-avalApartments="{{aval_apartments.1}}" 
	data-url="{% url 'floor' building_label=building.building_label floor=floors.1.floor_number %}" points="273,842 1158.4,842 1158.4,883.5 1163.5,883.5 1163.5,899.5 1163.5,918.2 1163.5,924.5 224.5,925 
		222.5,923.5 222.5,922.5 223.5,921.5 226.5,920.6 226.5,899.1 225.5,898.5 224.5,895.5 223.5,894.5 223.5,892.5 226.5,892.5 
		273.5,892.5 	"/>
	{% endif %}
	{% if floors.2 %}
	<path {% if floors.2.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-floor="{{floors.2.floor_number}}" data-avalApartments="{{aval_apartments.2}}" 
	data-url="{% url 'floor' building_label=building.building_label floor=floors.2.floor_number %}" d="M266.4,771h892v71h-885l-0.5-62.5l-1,0.5v-5l-3-1L266.4,771z"/>
	{% endif %}
	{% if floors.3 %}
	<path {% if floors.3.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-floor="{{floors.3.floor_number}}" data-avalApartments="{{aval_apartments.3}}" 
	data-url="{% url 'floor' building_label=building.building_label floor=floors.3.floor_number %}" d="M280.9,706.5h877.5V771h-892l1-2l6-0.5V752l-2-1l-0.5-2h6v-4.5l2-1.5L280.9,706.5z"/>
	{% endif %}
	{% if floors.4 %}
	<rect {% if floors.4.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-floor="{{floors.4.floor_number}}" data-avalApartments="{{aval_apartments.4}}" 
	data-url="{% url 'floor' building_label=building.building_label floor=floors.4.floor_number %}" x="280.5" y="635.5" class="st1" width="878" height="71"/>
	{% endif %}
	{% if floors.5 %}
	<path {% if floors.5.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-floor="{{floors.5.floor_number}}" data-avalApartments="{{aval_apartments.5}}" 
	data-url="{% url 'floor' building_label=building.building_label floor=floors.5.floor_number %}" d="M1158.9,636c0-18,0-46.1,0-65l1.5-1.2l1.5-0.8l1-5v-4h-894l0.5,4.5l0.5,1.5l-1,1.5l2.5,3.5l4.5-0.5l1,2.5
        l3.5,2.5l-1,1.5l1,1v58"/>
	{% endif %}
	{% if floors.6 %}
	<path {% if floors.6.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-floor="{{floors.6.floor_number}}" data-avalApartments="{{aval_apartments.6}}" 
	data-url="{% url 'floor' building_label=building.building_label floor=floors.6.floor_number %}" d="M297.4,492h863c0,17.5-0.5,37-0.5,55.4l2,1.2v2h5.5v1l-6.5,4.5l2,4h-894l1-4.5l-2-0.5l-1.5-2l-3-2.5h13.5V547
		l2.5-2v-13.5l-3.5-3.5l21.5-0.5V492z"/>
	{% endif %}
	{% if floors.7 %}
	<path {% if floors.7.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-floor="{{floors.7.floor_number}}" data-avalApartments="{{aval_apartments.7}}" 
	data-url="{% url 'floor' building_label=building.building_label floor=floors.7.floor_number %}" d="M298.5,393.5v-8l-3-1l-1-2h21l0,2h611.9l0.1-7h224v5h8l3.4,2v8.8l7.6,0.2v10l-7.6,0.8v2.2c0,0-1.3,0-2,0.5
		s-1.5,1.5-1.5,1.5v67l2,1.5v5.5h6.5l-1,3h-3.5l-3,6.5h-893l-3-5.5l-4-1l-1.5-3.5l11.6-0.5v-32h2l-0.7-39.8l-4.3-3L267,404
		l-10.5-0.5l-1.7-2.1l-4.3-2.9l-0.4-3l-1.6-1.9L298.5,393.5z"/>
	{% endif %}
	{% if floors.8 %}
	<path {% if floors.8.available %}class="st0"{% else %}class="st0 unavailable"{% endif %} data-floor="{{floors.8.floor_number}}" data-avalApartments="{{aval_apartments.8}}" 
	data-url="{% url 'floor' building_label=building.building_label floor=floors.8.floor_number %}" d="M927.4,385.5h-605v-12h41v-37h3l-2-2.5l-3-0.5V332h0.5l-1-2.5h-10.5l-3-3.5c-2.4,0-3.3-1.3-3.5-2
		c-1.2-0.4-1.5-1.5-1.5-2h-1v-1h1v-2l-2.5-2v-1h12.5l40-26l-2-3.5l-3-0.5l-3-3.5l0.5-1v-2l-2-2.5h2.5v-3.5l2-1.5v-14
		c-2.4-0.4-2.3-2.8-2-4h29v1c0,1.2-1,2.2-1.5,2.5h19c-1.2-0.4-1.5-2.5-1.5-3.5h6c8-13.5,22-26.5,46.5-38s47-16.5,66.5-20.5
		c15.6-3.2,36.8-5.3,45.5-6l2.5-2V185h-0.5v-0.5l3.5-4.5h2l1-1v-1l1-1l1-0.5h9v-1l1-1V174h-0.5v-1l3-1.5l1.5-1.5v-9l-1.5-1.5v-1
		l1.5-2h3l2,2v1l-1.5,1.5v9l2,1.5l2.5,1v1.5h-0.5c0,0.2,0.1,0.6,0.5,1s0.5,1.2,0.5,1.5h9.5l0.5,0.5h0.5l1.5,3h2l3.5,4.5l-0.5,0.5v2
		l2.5,2.5c10.8,1,38,4.2,60,9s49.8,16.7,61,22l18.5,12l14,14l7,11h51.5v19h7v1l-2,2v3h0.5l-3,4h-2l-3,3.5h-9l-2,2.5c0.3,0,1,0.2,1,1
		s-1.3,1-2,1l-2.5,2v8l14.5,11.5h11.5v1l-2.5,1.5v2l0.5,0.5v1l-3,3.5h-1.5l-3,3.5h-9.5l-0.5,1.5h0.5h101l-2,2v2l0.5,0.5l-3,3h-2
		l-3,3h-9l-1.5,2h0.5v1.5h-2c-0.4,0-1.2,1.3-1.5,2V385.5z"/>
	{% endif %}
	{% endif %}
</svg>
